{{#each this}}
  <li class='list'>
    <img
      src={{flags.svg}}
      alt='flag of {{name.official}}'
      width='30px'
      height='15px'
    />
    <p class='country-name'>{{name.common}}</p>
  </li>
{{/each}}